@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme{
  --color-primary: #f84565;
  --color-primary-dull: #D63854;
}

*{
  font-family: "Inter", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: #1f2937;
  background-color: #ffffff;
}